$base-color: #2a282b;
$nav-arrow-width: 10px;
$nav-minus-arrow-width: 1px - $nav-arrow-width;
$yellow: #b5be34;
$yellow-hover: #848828;

body{
  color:#000;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app{
  background-color: #efefef;
  margin:20px;
  width:700px;
  height:607px;


}

@import "./_nav.scss";
@import "./_panel.scss";
@import "./_thumbs.scss";



/*--------------------------------------------*
	 * Container
	 *--------------------------------------------*/

.container{
  position:relative;
  display: flex;
  justify-content: flex-end;
  height:532px;
  width:698px;
  overflow: hidden;
  border:1px solid #000;
}

/*--------------------------------------------*
	 * Transitions
	 *--------------------------------------------*/

.fade-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0;
}

.panel-enter {

  position:absolute;
  top: 0;
  right: 0;
  transform: translateX(500px);
  transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.panel-enter.panel-enter-active {
  transform: translateX(0px);
  transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
}

.panel-leave {
  transform: translateX(0px);
  transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}

.panel-leave.panel-leave-active {
  transform: translateX(500px);
  transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}
